{% load static %}
{% include "header.html" %}
        <!-- Cuerpo -->
        <div class="container mt-4"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->

            <!-- Formulario para agregar una coevaluación. -->
            <!-- Permanece oculto hasta apretar el botón correspondiente. -->
            <div id="add-coev-form" class="mb-4">
                <h4 class="mt-1">Agregar Coevaluación</h4>
                <form>
                    <div class="form-row">
                        <div class="form-group col-6">
                            <label for="titleCoev">Título de la coevaluación</label>
                            <input type="text" class="form-control" id="titleCoev" placeholder="ej: Tarea 1, Presentación 3, etc.">
                        </div>
                        <div class="form-group col-6">
                            <label for="inputCursoCoev">Curso</label>
                            <select id="inputCursoCoev" class="form-control">
                                <option selected>Seleccione un curso...</option>
                                <option>CC4401-1 Ingeniería de Software I, 2025-1</option>
                                <option>CC4401-1 Ingeniería de Software I, 2018-2</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="dateStartCoev">Fecha de inicio</label>
                            <input type="date" class="form-control" id="dateStartCoev" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="form-group col-2">
                            <label for="timeStartCoev">Hora de inicio</label>
                            <input type="time" class="form-control" id="timeStartCoev" placeholder="hh:mm">
                        </div>
                        <div class="form-group col-3 offset-1">
                            <label for="dateEndCoev">Fecha límite</label>
                            <input type="date" class="form-control" id="dateEndCoev" placeholder="dd/mm/yyyy">
                        </div>
                        <div class="form-group col-2">
                            <label for="timeEndCoev">Hora límite</label>
                            <input type="time" class="form-control" id="timeEndCoev" placeholder="hh:mm">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary-custom">Confirmar</button>
                    <button type="button" class="btn btn-cancel" onclick="cancelAdd()">Cancelar</button>
                </form>
                <hr/>
            </div>
            <!-- FIN Formulario agregar coevaluación -->

            <!-- Formulario para agregar un curso. -->
            <!-- Permanece oculto hasta apretar el botón correspondiente. -->
            <div id="add-curso-form" class="mb-4">
                <h4 class="mt-1">Agregar Curso</h4>
                <form>
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="codigoCurso">Código del curso</label>
                            <input type="text" class="form-control" id="codigoCurso" placeholder="ej: CC4401">
                        </div>
                        <div class="form-group col-1">
                            <label for="seccionCurso">Sección</label>
                            <input type="number" class="form-control" id="seccionCurso" value="1" placeholder="">
                        </div>
                        <div class="form-group col-1 offset-1">
                            <label for="annoCurso">Año</label>
                            <input type="text" class="form-control" id="annoCurso" placeholder="ej: 2018">
                        </div>
                        <div class="form-group col-3">
                            <label for="semestreCurso">Semestre</label>
                            <select id="semestreCurso" class="form-control">
                                <option selected>Seleccione un semestre...</option>
                                <option>Otoño - Primer semestre</option>
                                <option>Primavera - Segundo semestre</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary-custom">Confirmar</button>
                    <button type="submit" class="btn btn-cancel" onclick="cancelAdd()">Cancelar</button>
                </form>
                <hr/>
            </div>
            <!-- FIN Formulario agregar curso -->

            <!-- Tablas de resumen -->
            <div class="row">
                <!-- Tabla de coevaluaciones -->
                <div class="col-md-9">
                    <h4 class="d-inline-block mt-1">Últimas Coevaluaciones</h4>
                    <button type="button" id="add-coev-btn" class="btn btn-primary-custom float-right" onclick="addCoev()">Agregar coevaluación</button>

                    <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                        <table class="table table-coeval table-striped table-hover mb-0"> <!-- Tabla -->
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr> <!-- Fila (Table Row) -->
                                    <th class="th-fecha">Fecha inicio</th>
                                    <th class="th-titulo">Nombre</th>
                                    <th class="th-curso">Curso</th>
                                    <th class="th-semestre">Sem</th>
                                    <th class="th-fecha">Fecha límite</th>
                                    <th class="th-estado">Estado</th>
                                    <th class="th-iconos"></th>
                                </tr>
                            </thead>

                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>
                                {% for coeval_integrante in ultimas_coeval_integrante %}
                                <tr>
                                    <!-- Fecha de inicio -->
                                    <td class="td-fecha">
                                        {{ coeval_integrante.coeval.fecha_inicio|date:"H:i d/m/y" }}
                                        <!-- Ícono de lápiz -->
                                        {% if coeval_integrante.docente %}
                                            <a href="#" title="Editar fecha de inicio"><img class="clickable-icon" src="{% static 'icon/edit-icon.png' %}" alt="editar fecha" width="13" height="13"></a>
                                        {% endif %}
                                    </td>
                                    <!-- Título de coevaluación -->
                                    <td><a href="{% url 'ficha_coeval' coeval_integrante.coeval.id %}">{{ coeval_integrante.coeval.titulo }}</a></td>
                                    <!-- Curso, con ícono de rol, nombre y código -->
                                    <td class="td-curso-full">
                                        {% with cargo=coeval_integrante.integrante.rol.css_class %}
                                        <div class="cargos {{ cargo }} tooltip-custom">
                                            <span class="tooltiptext"></span>
                                        </div>
                                        {% endwith %}
                                        {% with anno=coeval_integrante.coeval.curso.anno semestre=coeval_integrante.coeval.curso.semestre codigo=coeval_integrante.coeval.curso.codigo seccion=coeval_integrante.coeval.curso.seccion%}
                                            <a href="{% url 'ficha_curso' anno semestre codigo seccion %}">
                                                <span class="curso-nombre">{{ coeval_integrante.coeval.curso.nombre }}</span>
                                                <br>
                                                <span class="curso-codigo">{{ coeval_integrante.coeval.curso.codigo }}-{{ coeval_integrante.coeval.curso.seccion }}</span>
                                            </a>
                                        {% endwith %}
                                    </td>
                                    <!-- Semestre -->
                                    <td>{{ coeval_integrante.coeval.curso.anno }}-{{ coeval_integrante.coeval.curso.semestre }}</td>
                                    <!-- Fecha de término -->
                                    <td class="td-fecha">
                                        {{ coeval_integrante.coeval.fecha_termino|date:"H:i d/m/y" }}
                                        <!-- Ícono de lápiz -->
                                        {% if coeval_integrante.docente %}
                                            <a href="#" title="Editar fecha límite"><img class="clickable-icon" src="{% static 'icon/edit-icon.png' %}" alt="editar fecha" width="13" height="13"></a>
                                        {% endif %}
                                    </td>
                                    <!-- Estado -->
                                    <td>{{ coeval_integrante.coeval.estado }}</td>
                                    <!-- Ícono de acción (vacío) -->
                                    <td></td>
                                </tr>
                                {% empty %}
                                    <tr><td colspan="7" class="text-center">No tienes coevaluaciones registradas</td></tr>
                                {% endfor %}
                                <!-- Filas vacías, placeholder -->
                                <!--
                                <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Tabla de cursos -->
                <div class="col-md-3 mb-3">
                    <h4 class="d-inline-block mt-1">Tus Cursos</h4>
                    <button type="button" id="add-curso-btn" class="btn btn-primary-custom float-right" onclick="addCurso()">Agregar curso</button>

                    <div class="table-wrap table-responsive my-1">
                        <table class="table table-cursos table-striped table-hover mb-0">
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr>
                                    <th>Curso</th>
                                    <th class="th-semestre">Sem</th>
                                </tr>
                            </thead>
                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>
                                {% for integrante in integrante_de %}
                                <tr>
                                    <!-- Curso, con ícono de rol, nombre y código -->
                                    <td class="td-curso-full">
                                        <div class="cargos {{ integrante.rol.css_class }} tooltip-custom">
                                            <span class="tooltiptext"></span>
                                        </div>
                                        <span class="curso-nombre">{{ integrante.curso.nombre }}</span>
                                        <br>
                                        <span class="curso-codigo">{{ integrante.curso.codigo }}-{{ integrante.curso.seccion }}</span>
                                    </td>
                                    <!-- Semestre -->
                                    <td>{{ integrante.curso.anno }}-{{ integrante.curso.semestre }}</td>
                                </tr>
                                {% empty %}
                                    <tr><td colspan="2" class="text-center">No tienes cursos registrados</td></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
            
{% include "footer.html" %}